#mMenu {
    background-color: #922149;
    color: aliceblue;
    height: 800px;
    width: 40%;
}

nav {
    background-color: #922149 !important;
}

nav a {
    color: aliceblue;
}

#mContainer {
    margin-top: 0px;
}

#mContenido {
    margin-right: 0%;
    color: aliceblue;
}

imagen {
    margin-top: 10px !important;
    margin-left: 30px;
    box-shadow: inset;
}